on:
  push:
    branches:
      - main
name: docs

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: panvimdoc
        uses: kdheepak/panvimdoc@main
        with:
          vimdoc: "nvim-java-core"
          dedupsubheadings: false
          version: "Neovim >= 0.9.4"
          demojify: true

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          base: "main"
