name: Test

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        nvim-versions: ["stable", "nightly"]

    name: test (${{ matrix.os }}, nvim-${{ matrix.nvim-versions }})
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim-versions }}

      - name: run tests
        run: make tests
